<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="/web/css/new-design/about-us.css">

<section class="about-us__wrapper">
    <header class="about-us__header wrapper">
        <h1 class="about-us__heading heading-regular">
            ¿Quiénes somos?
        </h1>
        <p class="about-us__heading-text text-large">
            Una breve descripción de los orígenes del proyecto y sus desarrolladores
        </p>
    </header>
    <img class="about-us__image" src="/web/images/utsjr-classmates.png" alt="Compañeros de la UTSJR">
    <div class="about-us__subwrapper wrapper">
        <p class="about-us__subwrapper-text text-regular">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium impedit at numquam expedita magnam, distinctio vero fugit fugiat facere, aspernatur quo reprehenderit officiis atque consequuntur architecto autem reiciendis ab asperiores!
        </p>
        <p class="about-us__subwrapper-text text-regular">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium impedit at numquam expedita magnam, distinctio vero fugit fugiat facere, aspernatur quo reprehenderit officiis atque consequuntur architecto autem reiciendis ab asperiores!
        </p>
        <div class="about-us__carrusel">
            <div class="about-us__carrusel-button-wrapper">
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button" data-is-selected>
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--paco.png" alt="Foto de perfil de 'Paco'">
                </div>
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button">
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--edgar.png" alt="Foto de perfil de Edgar">
                </div>
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button">
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--cesar.png" alt="Foto de perfil de César">
                </div>
            </div>
            <div class="about-us__carrusel-card__container">
                <div class="about-us__carrusel-card__subcontainer">
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--paco--large.jpg" alt="Foto de perfil de 'Paco' en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                Francisco Arturo Munguía López
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                Tengo 23 años, actualmente estoy estudiando la ingenieria de software , me considero alguien que le gusta soñar en grande y alcanzar y superar mis metas
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/paco_munguia1?igsh=MWVmb3Ixa2szcGE4ag==">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/franciscoarturo.munguialopez.5?mibextid=ZbWKwL">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/PacoMunguiaprogramer">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--edgar--large.jpg" alt="Foto de perfil de Edgar en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                Edgar Trejo Avila
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                Una youtuber recordaba que las moscas viven entre 10 y 20 días, un dato inútil que no olvida. Similarmente, desde niño sé que "Edgar" significa "defensor de sus bienes con su lanza", lo que me identifica porque suelo confrontar y cuestionar a los demás
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/__edgar_ta__/">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/edgar.trejo.526875?mibextid=rS40aB7S9Ucbxw6v">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/edgar-ta">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--cesar--large.jpg" alt="Foto de perfil de César en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                César Eduardo Estrada Fragoso
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/ce7680751/">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/profile.php?id=100030346426939&mibextid=rS40aB7S9Ucbxw6v">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/Cesar0795">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/web/js/new-design/about-us.js"></script>

<%- include("./templates/footer.ejs"); %>

