<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="/web/css/new-design/about-us.css">

<section class="about-us__wrapper">
    <header class="about-us__header wrapper">
        <h1 class="about-us__heading heading-regular">
            ¿Quiénes somos?
        </h1>
        <p class="about-us__heading-text text-large">
            Una breve descripción de los orígenes del proyecto y sus desarrolladores
        </p>
    </header>
    <img class="about-us__image" src="/web/images/utsjr-classmates.png" alt="Compañeros de la UTSJR">
    <div class="about-us__subwrapper wrapper">
        <p class="about-us__subwrapper-text text-regular">
            En la parte de arriba se encuentra una foto del grupo TI02SM-23 de la Universidad Tecnológica de San Juan del Río,
            al cual pertenecemos los tres creadores de este proyecto. La universidad a la que asistimos nos mantiene en contacto
            frecuente con la industria del software en Querétaro, y como prueba de ello está, por un lado, la visita guiada al 
            CIDEC de donde tomamos la fotografía antes mencionada, y por otro lado, este proyecto en sí mismo, el cual es una 
            asignación conjunta de nuestros actuales profesores de Bases de Datos (Ing. Luz María Feregrino Martínez) y 
            Aplicaciones Web (Prof. René Santos Osorio) para reforzar los temas vistos durante el cuatrimestre.
        </p>
        <p class="about-us__subwrapper-text text-regular">
            En nuestro paso por la universidad, como compañeros hemos enfrentado gran variedad de retos que han puesto a prueba el 
            compromiso que tenemos para con la Ingeniería en Desarrollo de Software, sin embargo, hemos superado con éxito los
            obstáculos que se nos han puesto en el camino hasta ahora, y seguiremos haciéndolo en los años por venir de lo que queda 
            de nuestra carrera; por el momento, Francisco Arturo Munguía López, César Eduardo Estrada Fragoso y yo, Edgar Trejo Avila, 
            añadimos uno más a nuestra lista de desafíos superados al terminar este proyecto --del cual estamos orgullosos-- y 
            nos permitimos respirar un poco sabiendo que es casi la última de nuestras preocupaciones antes de que acabe el 
            cuatrimestre.
        </p>
        <div class="about-us__carrusel">
            <div class="about-us__carrusel-button-wrapper">
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button" data-is-selected>
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--paco.png" alt="Foto de perfil de 'Paco'">
                </div>
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button">
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--edgar.png" alt="Foto de perfil de Edgar">
                </div>
                <div class="about-us__carrusel-button" data-id="about-us-carrusel-button">
                    <img class="about-us__carrusel-button__image" src="/web/images/profile-picture--cesar.png" alt="Foto de perfil de César">
                </div>
            </div>
            <div class="about-us__carrusel-card__container">
                <div class="about-us__carrusel-card__subcontainer">
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--paco--large.jpg" alt="Foto de perfil de 'Paco' en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                Francisco Arturo Munguía López
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                Tengo 23 años, actualmente estoy estudiando la ingenieria de software , me considero alguien que le gusta soñar en grande y alcanzar y superar mis metas
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/paco_munguia1?igsh=MWVmb3Ixa2szcGE4ag==">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/franciscoarturo.munguialopez.5?mibextid=ZbWKwL">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/PacoMunguiaprogramer">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--edgar--large.jpg" alt="Foto de perfil de Edgar en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                Edgar Trejo Avila
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                Desde que era niño siempre me habían llamado la atención las computadoras y la forma en que funcionaban los electrónicos
                                que tenía a la mano; cuando entré a la prepa (el CBTis 145), vi la oportunidad de explotar ese interés estudiando 
                                programación, y lo mismo hice ahora que estoy en la universidad. Actualmente tengo 19 años, y me gusta mucho la carrera
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/__edgar_ta__/">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/edgar.trejo.526875?mibextid=rS40aB7S9Ucbxw6v">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/edgar-ta">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="about-us__carrusel-card">
                        <div class="about-us__carrusel-card__image-wrapper">
                            <img class="about-us__carrusel-card__image" src="/web/images/profile-picture--cesar--large.jpg" alt="Foto de perfil de César en grande">
                        </div>
                        <div class="about-us__carrusel-card__content-wrapper">
                            <h2 class="about-us__carrusel-card__content-header heading-small">
                                César Eduardo Estrada Fragoso
                            </h2>
                            <p class="about-us__carrusel-card__content-text text-regular">
                                "Penso che per vincere bisogna essere aggressivi e correre dei rischi. Se non ha senso, devi tornare indietro"
                            </p>
                            <div class="about-us__carrusel-card__social-media__wrapper">
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.instagram.com/ce7680751/">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--instagram--black.png" alt="Ícono de Instagram">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://www.facebook.com/profile.php?id=100030346426939&mibextid=rS40aB7S9Ucbxw6v">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--facebook--black.png" alt="Ícono de Facebook">
                                </a>
                                <a class="about-us__carrusel-card__social-media__icon-wrapper social-media-icon-large" href="https://github.com/Cesar0795">
                                    <img class="about-us__carrusel-card__social-media__icon" src="/web/images/icon--github--black.png" alt="Ícono de GitHub">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/web/js/new-design/about-us.js"></script>

<%- include("./templates/footer.ejs"); %>

