<%- include('./templates/long-header.ejs') %>

        <template id="columnTemplate">
            <tr>
                <td data-id="row-index">#</td>
                <td>
                    <input type="text" name="nameArray" required>
                </td>
                <td data-id="row-type">
                    <select name="dataTypeArray" required>
                        <option value="integer" selected>
                            Entero
                        </option>
                        <option value="decimal">
                            Decimal
                        </option>
                        <option value="date">
                            Fecha
                        </option>
                        <option value="text">
                            Texto
                        </option>
                        <option value="reference">
                            Referencia
                        </option>
                    </select>
                </td>
                <td>
                    <input type="radio" name="isPrimaryKeyArray" data-disabled-count="0" required>
                </td>
                <td>
                    <input type="checkbox" name="isNullableArray" data-disabled-count="0">
                </td>
                <td>
                    <input type="checkbox" name="isUniqueArray" data-disabled-count="0">
                </td>
                <td>
                    <input type="checkbox" name="isAutoincrementableArray" data-disabled-count="0">
                </td>
            </tr>
        </template>
        <section>
            <h1>Crear tabla</h1>
            <form action="/new/<%- baseDeDatosSeleccionada %>/table" id="createTableForm" method="post">
                <div>
                    <label for="tableNameInput">Nombre de la tabla</label>
                    <input type="text" name="tableName" id="tableNameInput" placeholder="Nombre de la tabla">
                </div>
                <div>
                    <label for="columnCountInput">Número de columnas</label>
                    <input type="number" name="columnCount" id="columnCountInput" value="1" min="1" max="30">
                </div>
                <input type="submit" value="Crear tabla">
                <table id="tableExample">
                    <thead>
                        <tr>
                            <th>Índice</th>
                            <th>Nombre</th>
                            <th>Tipo de dato</th>
                            <th>Es clave primaria</th>
                            <th>Es nulo</th>
                            <th>Es único</th>
                            <th>Es autoincrementable</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
        </section>
    </div>

<%- include('./templates/long-footer.ejs') %>
