
<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="/web/css/index.css">

<div class="contenedor">
    
    <h1 class="bienvenida">Bienvenido a SIGBD</h1>
</div>

<%- include("./templates/footer.ejs"); %>
