
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edgar Trejo Avila">
    <link rel="stylesheet" href="./main.css">
    <script defer src="./main.js"></script>
    <title>Proyecto Del Tercer Parcial</title>
</head>
<body>
    <img class="portada"src="/views/images/imagenpaisaje.jpg">
</body>
</html>
