<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="../web/css/login_register.css">

<div class="contenedor">
    <div class="contenido">
        <h1 class="bienvenida">Bienvenido <%= username %> a SIGBD</h1>
        <a href="/databases" class="boton-inicio">Presione aquí para iniciar</a>
    </div>
</div>

<%- include("./templates/footer.ejs"); %>

