<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="/web/css/index.css">

<div class="contenedor">
    <div class="contenido">
        <h1 class="bienvenida">Bienvenido a SIGBD</h1>
        <a href="/databases" class="boton-inicio">Presione aquí para iniciar</a>
    </div>
</div>

<%- include("./templates/footer.ejs"); %>

