<%- include("./templates/header.ejs"); %>

<link rel="stylesheet" href="/web/css/new-design/index.css">

<section class="index__main">
    <div class="index__hero-container">
        <div class="index__hero-subcontainer">
            <h1 class="heading-regular index__heading">
                Bienvenido a FénixDB
            </h1>
            <p class="text-large index__subtext">
                Un sistema fácil y seguro para tu uso de bases de datos
            </p>
        </div>
        <a href="/databases" class="index__button text-regular">
            Empezar ahora
        </a>
    </div>
</section>

<%- include("./templates/footer.ejs"); %>
