<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../web/css/login_register.css">
</head>

<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form action="/login" method="POST">
            <h4  for="username">Usuario:</h4>
            <input class="username" type="text" id="username" name="username" required>
            <h4  for="password">Contraseña:</h4>
            <input class="password" type="password" id="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p>No tienes cuenta? <a href="/register">Regístrate</a></p>
    </div>
</body>

</html>