<link rel="stylesheet" href="/web/css/ui.css">

<h1 class="heading">Bienvenido</h1>
<p class="regular-text">
    Selecciona una base de datos del menú lateral de la izquierda para comenzar a registrar tus datos. 
    Alternativamente, intenta darle clic al botón de "crear tablas", también en el menú lateral.
</p>
<img style="
max-width: 100%;
" src="/web/images/selecciona-una-base-de-datos.png" alt="Selecciona una base de datos para empezar" srcset="">
