

<link rel="stylesheet" href="/web/css/estiloFooter.css">    
<footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Compañia</h4>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Politica de privacidad</a></li>
                        <li><a href="#">Afiliate</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas</a></li>
                        <li><a href="#">Compras</a></li>
                        <li><a href="#">Envios</a></li>
                        <li><a href="#">Estatus de orden</a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Tienda</h4>
                    <ul>
                        <li><a href="#">Ropa</a></li>
                        <li><a href="#">Zapatos</a></li>
                        <li><a href="#">Telefonos</a></li>
                        <li><a href="#">Pantallas</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
