<link rel="stylesheet" href="/web/css/new-design/footer.css">

<footer class="footer">
    <div class="footer__content">
        <div class="footer__block footer__block--utsjr">
            <img src="/web/images/utsjr-logo--white--desktop.png" alt="Logo de la UTSJR" class="footer__utsjr-image utsjr-logo">
            <div class="footer__utsjr__social-media-container">
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--facebook.png" alt="">
                </a>
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--instagram.png" alt="">
                </a>
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--tiktok.png" alt="">
                </a>
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--twitter.png" alt="">
                </a>
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--whatsapp.png" alt="">
                </a>
                <a href="" class="footer__utsjr__social-media">
                    <img src="/web/images/logo--youtube.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer__block footer__block--fenix-db">
            <div class="footer__imagotype-container">
                <img src="/web/images/fenix-db-isotype--white--desktop.png" alt="" class="fenix-db-isotype footer__isotype-image">
                <img src="/web/images/fenix-db-logotype--white.png" alt="" class="footer__logotype-image">
            </div>
            <p class="text-small footer__block__text">
                Fénix DB, el gestor de base de datos de tu elección
            </p>
        </div>
    </div>
    <p class="text-small footer__copyright-notice">
        Copyright &copy;2024; Edgar Trejo Avila, Francisco Arturo Munguía López y César Eduardo Estrada Fragoso: sistemas diseñados con pasión
    </p>
</footer>

</body>

</html>
