
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/web/css/estiloFooter.css">    
<footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Edgar Trejo Avila</h4>
                    <ul>
                        <img src="web/images/Edgar.jpg" class="img">
                        <li><a href="https://www.facebook.com/edgar.trejo.526875?mibextid=rS40aB7S9Ucbxw6v"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/__edgar_ta__/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Francisco Arturo Munguia</h4>
                    <ul>
                        <img src="web/images/Paco.jpg" class="img">
                        <li><a href="https://www.facebook.com/franciscoarturo.munguialopez.5?mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/paco_munguia1?igsh=MWVmb3Ixa2szcGE4ag=="><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Cesar Eduardo Estrada</h4>
                    <ul>
                        <img src="web/images/Cesar.jpg" class="img">
                        <li><a href="https://www.facebook.com/profile.php?id=100030346426939&mibextid=rS40aB7S9Ucbxw6v"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/ce7680751/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
