
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="/web/css/estiloFooter.css">    
<footer class="footer">
        <div class="container">
            <div class="footer-row">
                <div class="footer-links">
                    <h4>Edgar Trejo Avila</h4>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/edgar.trejo.526875?mibextid=rS40aB7S9Ucbxw6v">Facebook</a></li>
                        <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/__edgar_ta__/">Instagram</a></li>
                        <li>Una youtuber recordaba que las moscas</li> 
                        <li>viven entre 10 y 20 días, un dato inútil</li> 
                        <li>que no olvida. Similarmente, desde niño </li>
                        <li>sé que "Edgar" significa "defensor de sus bienes con su lanza",</li>
                        <li>lo que me identifica porque suelo confrontar y cuestionar a los demás.</li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Francisco Arturo Munguia</h4>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/franciscoarturo.munguialopez.5?mibextid=ZbWKwL">Facebook</a></li>
                        <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/paco_munguia1?igsh=MWVmb3Ixa2szcGE4ag==">Instagram</a></li>
                        <li>Tengo 23 años, actualmente estoy estudiando la ingenieria de software,</li>
                        <li> me considero alguien que le gusta soñar en grande y alcanzar y superar mis metas</li>
                    </ul>
                </div>
                <div class="footer-links">
                    <h4>Cesar Eduardo Estrada</h4>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i><a href="https://www.facebook.com/profile.php?id=100030346426939&mibextid=rS40aB7S9Ucbxw6v">Facebook</a></li>
                        <li><i class="fab fa-instagram"></i><a href="https://www.instagram.com/ce7680751/">Instagram</a></li>
                        <li>Soy un chico de 18 años, actualmente estudiante de la UTSJR</li>
                        <li>Me considero una persona capaz de denotar los problemas en distintas areas</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
