<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Edgar Trejo Avila">
    <title>Proyecto Del Tercer Parcial</title>

    <link rel="stylesheet" href="/web/css/main.css">
    <link rel="stylesheet" href="/web/css/navbar.css">
</head>
<body style="
background-color: var(--main-blue);
">
    <nav class="barra-de-navegacion"></nav>