<%- include('./header.ejs') %>

<link rel="stylesheet" href="/web/css/dashboard.css">
<main style="
padding-top: var(--navbar-height);
display: grid;
grid-template-columns: auto 1fr;
align-items: stretch;
justify-content: stretch;
">
    <%- include('./menu-lateral.ejs') %>

    <script defer src="/web/js/table-creation-form.js"></script>
    <div class="dashboard__wrapper">
        <button class="sidebar__toggle-button" data-id="toggle-button" onclick="toggleSidebar()">Cerrar Menú</button>