<link rel="stylesheet" href="/web/css/new-design/navbar.css">

<nav class="navbar">
    <div class="navbar__content-wrapper">
        <div class="navbar__indicator navbar__menu-panel__item navbar__menu-panel__item--squared">
            <p class="text-regular navbar__menu-panel__link">Home</p>
        </div>
        <a class="navbar__imagotype-container" href="/">
            <img src="/web/images/fenix-db-isotype--orange--desktop.png" alt="Isotipo de Fénix DB" class="fenix-db-isotype navbar__image">
            <img src="/web/images/fenix-db-logotype--orange.png" alt="Logotipo de Fénix DB" class="navbar__logotype navbar__image">
        </a>
    </div>
    <div class="navbar__menu-wrapper" data-id="navbar-menu-wrapper">
        <button 
            class="navbar__menu-button navbar__menu-panel__item navbar__menu-panel__item--selected navbar__menu-panel__item--squared"
            data-id="navbar-toggle-button"
            >
            <div class="navbar__menu-panel__link">
                <img src="/web/images/icon-menu.png" alt="Ícono de Menú">
            </div>
        </button>
        <ul class="navbar__menu-panel">
            <li class="navbar__menu-panel__item navbar__menu-panel__item--selected">
                <a class="navbar__menu-panel__link text-regular" href="/">Home</a>
            </li>
            <li class="navbar__menu-panel__item">
                <a class="navbar__menu-panel__link text-regular" href="/about-us">About us</a>
            </li>
            <li class="navbar__menu-panel__item">
                <a class="navbar__menu-panel__link text-regular" href="/app">App</a>
            </li>
        </ul>
    </div>
</nav>

<script src="/web/js/new-design/navbar.js"></script>
