.referenced-table-select[data-enabled="false"] {
    display: none;
}

.referenced-table-select[data-enabled="true"] {
    display: initial;
}


input[data-disabled] {
    pointer-events: none;
    opacity: 0.15;
}
