/* styles/menu-lateral.css */

.navbar {
    background-color: var(--main-blue);
    color: white;
    text-decoration: none;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.menu-horizontal .menu-item {
    position: relative;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu-horizontal .menu-item > a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu-horizontal .menu-item > a:hover {
    background-color: #575757;
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--main-blue);
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.submenu li {
    margin: 0;
    text-decoration: none;
}

.submenu li a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #575757;
}

.menu-item:hover .submenu {
    display: block;
}
ul li{
    text-decoration: none;
}