.visualizador__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.visualizador__button {
    padding-block: 0.75rem;
    padding-inline: 1rem;
    width: fit-content;
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-size: 0.75rem;
    border-radius: 3px;
    transition: 250ms ease-in-out background-color;
    border: none;
    cursor: pointer;
}

.visualizador__button--delete {
    background-color: rgb(121, 9, 9);
}

.visualizador__button--delete:hover {
    background-color: rgb(196, 0, 0);
}

.visualizador__button--insert {
    background-color: rgb(150, 114, 16);
}

.visualizador__button--insert:hover {
    background-color: rgb(150, 141, 16);
}

.visualizador__button--edit {
    background-color: rgb(16, 119, 150);
}

.visualizador__button--edit:hover {
    background-color: rgb(16, 88, 184);
}

.visualizador__button-tray {
    display: flex;
    gap: 1rem;
}
